---
import Navigation from "../components/Navigation.jsx";
---

<html lang="en" data-theme="garden">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Discordape</title>
    </head>
    <body class="min-h-screen">
        <Navigation client:load />
        <slot />
    </body>
</html>
